body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
}
/* header style */
header{
    background-color: #E554731A;
}
.header-info{
    display: flex;
}
header ul{
    list-style: none;
    padding: 190px 100px 160px 240px;
}
header p{
    font-weight: 400px;
    font-size: 10px;
}
header img{
    width: 450px;
    height: 600px;
    margin-top: 50px;
    margin-right: 200px;
    padding-bottom: 0px;
}
.btn-primary{
    padding: 10px;
    background-color: #E55473;
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    height: 45px;
}

/* main section */
.discount-section {
    background-color: #E554730D;
    margin: 100px 0px 100px;
}
.main-section{
    display: flex;
    padding: 200px;
    align-items: center;
    justify-content: space-between
}

.discount{
    list-style: none;
    text-align: center;
    margin-right: 200px;
}
.discount img{
    margin-right: 400px;
}
.discount span{
    color: #E55473;
}


/* social section */
.social{
text-align: center;
}
.social h3{
    color: #272727;
    
}
.social p{
    color: #27272799;
    font-size: 15px;
}

/* flower section */
.flowers{
    margin: 50px 100px;
}
.flowers-content{
    display: flex;
    margin: 0px;
    gap: 40px;
}
/* .flowers .flowers-content img{
    width: 342px;
    height: 396px;
    margin: 10px 20px 30px 20px;
} */

/* flower form */
.flower-form{
    background-image: url('asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 200px;
}
.form-description{
    text-align: center;
    padding: 100px;
}
.form-description input{
    margin: 10px;
    height: 10px;
    padding: 20px 500px 20px 20px;
    border: none;
    border-radius: 5px;
    color: #27272799;
}
/* Footer */
.footer-contents{
    background-color: #111010;
    color: #FFFFFF;
    text-align: center;
    padding: 120px 0px;
}
.footer-contents span{
    color: #E55473;
}
.footer-contents p{
    color: #FFFFFFE5;
}
.copy-rights{
    padding: 20px 0px 100px 0px;
    color: #FFFFFF66;
}